@keyframes title {
0% {
  transform: translateX(-2%);
  opacity: 0;
}
100% {
  transform: translateX(0%);
}
}
@keyframes large_body {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
@media (min-width: 769px) {
.xs-only,
.lg-none {
  display: none;
}
}

/*sm view*/
@media (min-width: 615px) and (max-width: 768px) {
.sm-none,
.xs-only {display: none}
}

/*xs view*/
@media (max-width: 614px) {
.xs-none {display: none}
.xs-only {display: inherit}

.justify-xs-text {
  text-align: justify;
}
}