a {
  text-decoration: none;
}
.footer_wrapper {
  bottom: 0px;
  width: 100vw;
  background-color: #1f497d;
  background-image: linear-gradient(-90deg, #1f497d, #1870b9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px 0 rgba(37, 37, 37, 0.589);
}

.footer_container {
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}

.footer_container span {
  display: none;
}

.footer_container ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0px;
}
.footer_container li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  margin: 16px 4px;
}

.footer_cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 24px 0px;
  width: 100%;
  text-align: center;
}

.footer_cta p {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}
.footer_cta span {
  letter-spacing: 2px;
}
.footer_number {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
.footer_number:hover {
  color: #df3063;
}
.footer_copyright {
  font-size: 12px;
  text-align: center;
  margin-bottom: 36px;
  color: #888a8d;
}

.footer_logo {
  width: 33vw;
}

.social_media_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.footer_social_wrapper_child {
  display: flex;
}
.footer_phone,
.social_media_icon {
  background:url('https://unifiedhealthadvisors.com/aws/footer/footer_sprite.png');
  height:24px;
  width: 24px;
  display:block;
  margin: 8px;
}

.social_media_icon:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.top_container {
  display: flex;
  justify-content: center;
}
.footer_copyright {
  padding-top: 24px;
}
.footer_phone {
  background-position-x: 0;
  margin: 0 16px;
}
.footer_fb {
  background-position-x: 96px;
}
.footer_ig {
  background-position-x: 72px;
}
.footer_lk {
  background-position-x: 24px;
}
.footer_mail {
  background-position-x: 48px;
}

@media (min-width: 768px) {
  .footer_wrapper {
    overflow: hidden;
  }
  .footer_container {
    width: 80%;
    font-size: 16px;
    justify-content: center;
  }
  .footer_container span {
    display: inherit;
  }
  .footer_container ul {
    padding: 20px 0px;
    flex-direction: row;
  }
  .footer_container li a {
    width: 8em;
  }
  .footer_container li a:hover {
    color: #28aee4;
  }

  .footer_container li a:active {
    color: #df3063;
    font-weight: bold;
  }

  .footer_cta {
    flex-direction: row;
    font-size: 24px;
  }

  /* .footer_cta p {
    font-size: 24px;
  } */
  .footer_logo {
    width: 200px;
    padding: 36px 0px;
  }
  .social_media_wrapper {
    padding: 0px;
  }
  .footer_copyright {
    width: 80%;
    border-top: 1px solid #999;
    padding-top: 26px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .footer_phone {
    visibility: hidden;
  }
  .social_media_wrapper {
    flex-direction: column;
  }
  .footer_social_wrapper_child {
    margin-top: 24px;
  }
}
